/*{{{ Default*/
* {
	margin: 0em; 
	padding: 0em;
	font-family: arial,tahoma,sans-serif;
}
/*}}}*/
/*{{{ Language selector */
#lang {
	display: inline-block;
}

@media screen {
	#lang > span {
		display: none;
	}
}

#lang > ul {
	list-style-type: none; 
}

#lang li {
	float: left;
	padding: 0.2em;
}

#lang li span {
	opacity: 0.4;
}
/*}}}*/
/*{{{ Header */
body > header {
	color: #FFFFFF;
	background-color: #000000;
	padding: 0.5em;
}

body > header > div:first-child {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

body > header div:nth-child(2) {
	padding: 0.5em;
}
/*}}}*/
/*{{{ Body */
main {
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-left: 1em;
	font-size: 1em;
}

aside, section {
	position: relative;
	float: left;
	margin: 0.5em;
	padding: 0.8em;
	box-shadow: 0em 0em 0.3em #000000;
}

aside h2 {
	display: block;
	margin: 0.5em;
	padding-top: 0em;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.2em;
}

@media screen {
	nav {
		position: absolute;
		top: -30em;
	}
}
/*}}}*/
/*{{{ Footer */
body > footer {
	color: #FFFFFF;
	background-color: #000000;
	padding: 1.7em;
	clear: both;
}

body > footer span {
	width: 100%;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}
/*}}}*/
/*{{{ Left tool bar */
#tools ul {
	list-style-type: none; 
}

#tools li {
	margin-bottom: 0.3em;
}

#tools article {
	border: none;
	margin-bottom: 0.5em;
	border-bottom: 0.1em solid #000000;
}

#tools article:last-child  {
	border-bottom: 0em;
}

#search input {
	display: block;
	margin: 0.3em;
}

#tools fieldset {
	border: 0em;
}

#tools fieldset legend {
	top: -100em;
	position: absolute;
}
/*}}}*/
/*{{{ Last apps list */
#lastapplist > div {
	display: block;
	border-bottom: 0.1em solid #000000; 
	padding-top: 0.5em;
	padding-bottom: 0.7em;
	word-break: break-all;
}

#lastapplist > div:last-child {
	border-bottom: 0em; 
}

#lastapplist > div > div {
	vertical-align: middle;
}

#lastapplist > div > img {
	float: left;
	vertical-align: middle;
	margin-right: 0.3em;
}

#lastapplist > div > div > div {
	margin-top: 0.7em;
	font-size: 0.7em;
}

#lastapplist > div span:first-child {
	display: none;
}
/*}}}*/
/*{{{ Apps list */
section > header > h2 {
	display: block;
	margin: 0.5em;
	padding-top: 0em;
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.2em;
}

section article:first-of-type {
	clear: both;
}

section footer {
	margin-top: 0.5em;
}
/*{{{ Pager */
@media screen {
	section > footer > div span {
		display: none;
	}
}

section > footer ul {
	list-style-type: none;
	clear: both;
}

section > footer li {
	float: left; 
}

section > footer > div a {
	display: inline-block;
	border: 0.15em solid #000000;
	padding: 0.2em;
	margin-right: 0.2em;
	border-radius: 0.5em;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
}

section > footer > div a:hover {
	border: 0.25em solid #000000;
	padding: 0.1em;
	margin-right: 0.15em;
}

section > footer > div a:last-child {
	clear: both;
}

section > footer > div * span {
	font-weight: bold;
	display: inline-block;
	border: 0.15em solid #000000;
	padding: 0.2em;
	margin-right: 0.2em;
	border-radius: 0.5em;
	color: #FFFFFF;
	background-color: #000000;
}
/*}}}*/
/*}}}*/
/*{{{ Light app sheet */
section > article {
	padding: 0.5em;
	border-bottom: 0.1em solid black;
}

section > article:last-child {
	border-bottom: 0em;
}

section > article header {
	display: inline-block;
	float: left;
}

section > article header img {
	display: inline-block;
	float: left;
	margin-right: 0.5em;
}

section > article header h2 {
	font-size: 1em;
	float: left;
}

section > article header span {
	display: inline-block;
}

section > article > div {
	float: right;
}

section > article a {
	float: right;
	display: inline-block;
	margin: 0.3em;
	vertical-align: middle;
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000000;
	border: 0.15em solid #000000;
	border-radius: 0.5em;
	padding: 0.15em;
}

section > article a:hover {
	color: #000000;
	background-color: #FFFFFF;
}

section > article ul {
	list-style-type: none;
	clear: both;
}

section > article li:first-child {
	float: right;
}

section > article li {
	padding: 0.2em;
}

section > article li:last-child span:nth-child(3) {
	font-weight: bold;
	padding-right: 0.3em;
}

section > article li span:first-child {
	font-weight: bold;
	padding-right: 0.3em;
}
/*}}}*/
/*{{{ App sheet */
main > article {
	box-shadow: 0em 0em 0.5em #000000;
	float: left;
	display: block;
	margin: 0.5em;
	padding: 2em;
}

main > article header {
	margin-bottom: 1.5em;
}

main > article header img {
	display: inline-block;
	margin-right: 0.5em;
	float: left;
}

main > article aside {
	box-shadow: none;
	margin-left: 0em;
	padding-left: 0em;
	max-width: 30em;
}

main > article aside > img {
	vertical-align: middle;
}

main > article aside > a {
	vertical-align: middle;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: #FFFFFF;
	background-color: #000000;
	border: 0.15em solid #000000;
	border-radius: 0.5em;
	padding: 0.15em;
}

main > article aside a:hover {
	color: #000000;
	background-color: #FFFFFF;
}

#social_links {
	margin: 0em;
	margin-top: 0.3em;
	float: none;
	padding: 0em;
	border: none;
}

#social_links a {
	margin: 0em;
	padding: 0em;
	display: inline-block;
	background-color: #FFFFFF;
	vertical-align: middle;
	border: 0em;
}

#social_links a img {
	margin: 0em;
	padding: 0.2em;
	vertical-align: middle;
}

main > article > div {
	clear: both;
	padding: 0.5em;
	min-width: 35em;
}

#details * span:first-child {
	font-weight: bold;
}

#details * span:nth-child(3) {
	font-weight: bold;
}

#download {
	margin: 0em;
	float: right;
	border: 0.1em solid #000000;
	border-radius: 0.5em;
}

#description {
	max-width: 40em;
	padding: 0.5em;
	clear: none;
}

#description ul, #description ol {
	padding: 1em;
}

#misc ul, #antifeatures ul {
	list-style-type: none;
}

#misc span, #antifeatures span {
	font-weight: bold;
}

#antifeatures {
	max-width: 40em;
}

#donate_app, #block_dev {
	padding: 0em;
	border: 0.1em solid #000000;
	border-radius: 0.5em;
}

#donate_app a, #block_dev a {
	display: block;
	margin: 0.5em;
	text-align: center;
}

#donate_app div, #block_dev div {
	vertical-align: middle;
	border: 0.15em solid #000000;
	border-radius: 0.5em;
	padding: 0.15em;
	margin: 0.5em;
	text-align: center;
	font-weight: bold;
	font-size: 1.1em;;
}

#donate_app > div > span {
	display: block;
}

#donate_app > div > span:last-child {
	font-size: 0.6em;
	margin-bottom: 0.2em;
}
/*}}}*/
