/*{{{ Default*/
* {
	margin: 0em; 
	padding: 0em;
	font-family: arial,tahoma,sans-serif;
}

ul {
	list-style-type: none; 
}
/*}}}*/
/*{{{ Body */
#body {
	margin-left:auto;
	margin-right:auto;
	margin-top: 1em;
	margin-bottom: 1.5em;
	padding-left: 1em;
	font-size: 1em;
}

#body > a {
	text-decoration: none;
	display: inline-block;
	float: left;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000000;
	border: 0.15em solid #000000;
	border-radius: 0.5em;
	padding: 0.15em;
}

#body > a:hover {
	color: #000000;
	background-color: #FFFFFF;
}

#app_sheet > div {
	clear: both;
}

@media screen {
	#menu {
		display: none;
	}
}
/*}}}*/
/*{{{ Language selector */
@media screen {
	#lang dt {
		display: none;
	}
}

#lang ul {
	list-style-type: none; 
	margin-left: 0.2em;
}

#lang li {
	float: left;
}

#lang li a {
	margin: 0.2em;
}

#lang li b {
	margin: 0.2em;
	opacity: 0.4;
}
/*}}}*/
/*{{{ Headers */
#header {
	color: #FFFFFF;
	background-color: #000000;
	padding-bottom: 1.7em;
}

#header div {
	display: inline-block;
}

#header div img {
	vertical-align: middle;
	margin: 0.5em;
}

h1 {
	display: inline;
	color: #FFFFFF;
	font-size: 3em;
	font-weight: bold;
	vertical-align: middle;
	margin-left: 0.5em;
}

#desc_repos {
	color: #FFFFFF;
	margin: 0.5em;
}
/*}}}*/
/*{{{ Footer */
#footer {
	color: #FFFFFF;
	background-color: #000000;
	padding: 1.7em;
	clear: both;
}

#footer span {
	width: 100%;
	text-align: center;
	display: inline-block;
	font-weight: bold;
}
/*}}}*/
/*{{{ Left tool bar */
#tools {
	position: relative;
	float: left;
	margin: 0.5em;
	padding: 0.5em;
	box-shadow: 0em 0em 0.3em #000000;
}

#tools fieldset  {
	padding: 0.5em;
	border: none;
	margin-bottom: 0.5em;
	border-bottom: 0.1em solid #000000;
}

#tools fieldset:last-child  {
	border-bottom: 0em;
}

#tools legend {
	display: block;
	padding-left: 0.5em;
	padding-right: 0.5em;
	font-variant: small-caps;
	font-weight: bold;
}

@media screen {
	#tools legend a {
		display:none;
	}
}

#tools ul {
	list-style-type: none; 
}

#tools li {
	margin-bottom: 0.3em;
}

#tools label{
	margin-left: 0.3em;
}

#search input {
	display: block;
}

#search input[type="text"] {
	margin-bottom: 0.3em;
}
/*}}}*/
/*{{{ Pager */
#page_head {
	margin-bottom: 0.5em;
}

#page_foot {
	margin-top: 0.5em;
}

#page_head, #page_foot {
	height: 1.8em;
	margin-top: 0.5em;
}

#page_head {
	padding-bottom: 0.5em;
	border-bottom: 0.1em solid #000000;
}

@media screen {
	#page_head > dt, #page_foot > dt {
		display: none;
	}
}

#page_head > dd, #page_foot > dd {
	float: left;
}

#page_head li, #page_foot li {
	float: left;
}

#page_head li b, #page_foot li b {
	display: inline-block;
	border: 0.15em solid #000000;
	padding: 0.2em;
	margin-right: 0.2em;
	border-radius: 0.5em;
	color: #FFFFFF;
	background-color: #000000;
}

#page_head li a, #page_foot li a {
	display: inline-block;
	border: 0.15em solid #000000;
	padding: 0.2em;
	margin-right: 0.2em;
	border-radius: 0.5em;
	font-weight: bold;
	text-decoration: none;
	color: #000000;
	background-color: #FFFFFF;
}

#page_head li a:hover, #page_foot li a:hover {
	border: 0.25em solid #333333;
}
/*}}}*/
/*{{{ Apps list */
#applist {
	position: relative;
	float: left;
	margin: 0.5em;
	padding: 0.5em;
	width: 35em;
	box-shadow: 0em 0em 0.3em #000000;
}

#applist fieldset {
	border: 0em;
	padding: 0em;
}

#applist legend {
	font-variant: small-caps;
	font-weight: bold;
}

@media screen {
	#applist legend a {
		display: none;
	}
}
/*}}}*/
/*{{{ Light app sheet */
#list_sheets > li {
	border-bottom: 0.1em solid #000000; 
	margin-top: 0.5em;
	padding-bottom: 0.7em;
}

#list_sheets > li > img {
	display: inline;
	float: left;
}

#list_sheets > li > div {
	display: inline-block;
	margin-left: 0.5em;
}

#list_sheets > li > div > label {
	font-variant: small-caps;
	font-weight: bold;
	font-size: 1.2em;
}

#list_sheets > li > div > div {
	margin-top: 0.5em;
	margin-bottom: 0.5em;
}

#list_sheets > li > div > div a {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000000;
	border: 0.15em solid #000000;
	border-radius: 0.5em;
	padding: 0.15em;
}

#list_sheets > li > div > div a:hover {
	color: #000000;
	background-color: #FFFFFF;
}

#list_sheets > li > div > ul li {
	margin-top: 0.2em;
}

#list_sheets > li > div > ul label {
	font-weight: bold;
	margin-right: 0.3em;
}
/*}}}*/
/*{{{ Last apps list */
#lastapplist {
	position: relative;
	float: left;
	min-width: 22em;
	margin: 0.5em;
	padding: 0.5em;
	box-shadow: 0em 0em 0.3em #000000;
}

#lastapplist fieldset {
	border: 0em;
}

#lastapplist legend {
	display: block;
	font-variant: small-caps;
	font-weight: bold;
}

@media screen {
	#lastapplist legend a {
		display: none;
	}
}

#lastapplist ul {
	margin-top: 0.3em;
	list-style-type: none; 
	border-top: 0.1em solid #000000;
}

#lastapplist li {
	display: block;
	border-bottom: 0.1em solid #000000; 
	padding-top: 0.5em;
	padding-bottom: 0.7em;
	word-break: break-all;
}

#lastapplist li:last-child {
	border-bottom: 0em; 
}

#lastapplist li img {
	float: left;
}

#lastapplist li > div {
	display: inline-block;
	margin-left: 0.5em;
	margin-top: 0.3em;
}

#lastapplist li > div > div {
	margin-top: 0.7em;
	font-size: 0.7em;
}

#lastapplist li > div a {
	text-decoration: none;
	font-weight: bold;
	color: #FFFFFF;
	background-color: #000000;
	border: 0.15em solid #000000;
	border-radius: 0.5em;
	padding: 0.15em;
}

#lastapplist li > div a:hover {
	color: #000000;
	background-color: #FFFFFF;
}

@media screen {
	#lastapplist div span:first-child {
		display: none;
	}
}
/*}}}*/
/*{{{ App sheet */
#app_sheet {
	box-shadow: 0em 0em 0.5em #000000;
	display: inline-block;
	margin: 0.5em;
	padding: 0.5em;
}

#app_sheet > img {
	float: left;
}

#app_sheet > fieldset {
	border: 0em;
	width: 40em;
	margin-left: 0.5em;
	float: left;
}

#app_sheet > fieldset > legend {
	font-weight: bold;
}

#app_sheet > fieldset > ul > li {
	margin-top: 0.5em;
}

#app_sheet > fieldset > ul > li:nth-child(2) {
	margin-top: initial;
}

#app_sheet > fieldset > ul > li:nth-child(3) div {
	padding: 0.5em;
	margin: 0.3em;
}

#app_sheet > fieldset > ul > li:first-child {
	border: 0.1em solid black;
	border-radius: 0.5em;
	padding: 0.5em;
	margin: 0.5em;
	float: right;
}

#app_sheet > fieldset > ul > li:first-child img {
	vertical-align: middle;
}

#app_sheet > fieldset > ul > li:first-child a {
	vertical-align: middle;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.1em;
	color: #FFFFFF;
	background-color: #000000;
	border: 0.15em solid #000000;
	border-radius: 0.5em;
	padding: 0.15em;
}

#app_sheet > fieldset > ul > li:first-child a:hover {
	color: #000000;
	background-color: #FFFFFF;
}

#app_sheet > fieldset > ul li label {
	font-weight: bold;
}

#app_sheet > fieldset * ul {
	list-style-type: initial;
	padding-left: 1em;
}
/*}}}*/
