<FilesMatch "\.(ico|jpe?g|png|gif|swf|css|gz|php)$">
	Header unset ETag
	FileETag none
</FilesMatch>

<FilesMatch "\.(tpl)$">
	Order Allow,Deny
	Deny from all
</FilesMatch>

# Expires
AddType image/x-icon .ico
ExpiresActive on
ExpiresDefault "access plus 1 month"
ExpiresByType image/ico "never"
ExpiresByType image/icon "never"
ExpiresByType image/x-icon "never"

#Content-Type image/x-icon
Header set Cache-Control "max-age=2592000, public"

# Compression
SetOutputFilter DEFLATE
BrowserMatch ^Mozilla/4 gzip-only-text/html
BrowserMatch ^Mozilla/4\.0[678] no-gzip
BrowserMatch bMSI[E] !no-gzip !gzip-only-text/html
SetEnvIfNoCase Request_URI .(?:gif|jpe?g|png|ico)$ no-gzip dont-vary
Header append Vary User-Agent env=!dont-vary

#PHP
php_value session.cookie_httponly 1
php_value session.cookie_secure 1

